PhyEMM_PC_Node-Red.txt
[{"id":"34968b4a.b353c4","type":"tab","label":"PhygitalEMM","disabled":false,"info":""},{"id":"4891ccf7.84cf0c","type":"inject","z":"34968b4a.b353c4","name":"","repeat":"1","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"{\"CalculatedLoad\":\"0104\",\"EngineCoolantTemp\":\"0105\",\"ManifoldIntakeAirPressure\":\"010B\",\"EngineRPM\":\"010C\",\"VehicleSpeed\":\"010D\",\"AirIntakeTemp\":\"010F\",\"MAFread\":\"0110\",\"AbsoluteThrottlePos\":\"0111\",\"TimeSinceEngineStart\":\"011F\"}","payloadType":"json","x":90,"y":100,"wires":[["c6ae35fb.eb2498"]]},{"id":"4a81a449.27a504","type":"serial out","z":"34968b4a.b353c4","name":"","serial":"10691388.943ea4","x":435,"y":120,"wires":[],"l":false},{"id":"c6ae35fb.eb2498","type":"split","z":"34968b4a.b353c4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":290,"y":100,"wires":[["4a81a449.27a504"]]},{"id":"f96a2e2f.8b85d","type":"inject","z":"34968b4a.b353c4","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"{\"Reset\":\"AT Z\",\"EchoOff\":\"AT E0\",\"LineFeedOff\":\"AT L0\",\"VehicleCode\":\"0902\"}","payloadType":"json","x":150,"y":40,"wires":[["c6ae35fb.eb2498"]]},{"id":"318dd3e3.a7cce4","type":"serial in","z":"34968b4a.b353c4","name":"InputsFromELM","serial":"10691388.943ea4","x":180,"y":360,"wires":[["6db3953c.6b6e0c","e3cdff6.4ff638"]]},{"id":"e3cdff6.4ff638","type":"switch","z":"34968b4a.b353c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"41 0B","vt":"str"},{"t":"cont","v":"41 0C","vt":"str"},{"t":"regex","v":"^41 10","vt":"str","case":false},{"t":"regex","v":"^49 02","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":4,"x":370,"y":360,"wires":[["fa4d3e33.a82ce"],["1d767705.08c4f9"],["15a801cc.edfb4e"],["12023063.a2de68"]]},{"id":"5649c5ec.c2953c","type":"debug","z":"34968b4a.b353c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":180,"wires":[]},{"id":"6db3953c.6b6e0c","type":"debug","z":"34968b4a.b353c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":220,"wires":[]},{"id":"1137cb38.98d8a5","type":"function","z":"34968b4a.b353c4","name":"GlobalDefs","func":"","outputs":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"carData.PhyEMMCarData\",null)\nglobal.set(\"carData.PhyEMM_carData.deviceId\", \"24A16053C1D9\");\nglobal.set(\"carData.PhyEMM_carData.fuel\", \"G\");\nglobal.set(\"carData.PhyEMM_carData.intakeAirPress\" , -1.0);\nglobal.set(\"carData.PhyEMM_carData.intakeManifoldPress\" , -1.0);\nglobal.set(\"carData.PhyEMM_carData.CO2gps\" , 0.0);\nglobal.set(\"carData.PhyEMM_carData.engineRpm\" , -1.0);\n//\nglobal.set(\"carData.PhyEMM_carData.validity\", \"Invalid\");\nglobal.set(\"carData.PhyEMM_carData.latitude\", \"00.00\");\nglobal.set(\"carData.PhyEMM_carData.longitude\", \"00.00\");\nglobal.set(\"carData.PhyEMM_carData.altitude\", \"0.0\");\n//lobal.set(\"carData.PhyEMM_carData.timestamp\", \"23:59:59\");\nglobal.set(\"carData.PhyEMM_carData.timestamp\", Date(0));\nglobal.set(\"carData.PhyEMM_carData.coordinates.coordinates\", Array(0.0,0.0));\nglobal.set(\"carData.PhyEMM_carData.coordinates.type\", \"Point\");\nglobal.set(\"carData.PhyEMM_carData.closestAQS.index\", 100.0);\nglobal.set(\"carData.PhyEMM_carData.closestAQS.latitude\", 0.0);\nglobal.set(\"carData.PhyEMM_carData.closestAQS.longitude\", 0.0);\n//\nreturn null;","finalize":"","libs":[],"x":310,"y":540,"wires":[]},{"id":"fa4d3e33.a82ce","type":"function","z":"34968b4a.b353c4","name":"","func":"var result = 0, digitValue = 0;\n//hex = msg.payload.toLowerCase();\nmsg_charLength = (msg.payload.length);//can be either 11 or 8\nmsg_valueLength = msg_charLength - 6; // can be either 5 or 2\nfor (var i = 6; i < (6 + msg_valueLength); i++) {\ndigitValue = '0123456789ABCDEFG'.indexOf(msg.payload[i]);\nif (digitValue !== -1)\n    {\n        \n        result = result * 16 + digitValue; \n    }\n\n}\n\n\nglobal.set(\"carData.PhyEMM_carData.intakeManifoldPress\", result);\nmsg.topic = \"carData.PhyEMM_carData.intakeManifoldPress\";\nmsg.payload = result.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":320,"wires":[["5649c5ec.c2953c","630dab59.0bb784"]]},{"id":"1d767705.08c4f9","type":"function","z":"34968b4a.b353c4","name":"","func":"var result = 0, digitValue = 0;\n//hex = msg.payload.toLowerCase();\nmsg_charLength = (msg.payload.length);//can be either 11 or 8 or ...\nmsg_valueLength = msg_charLength - 6; // can be either 5 or 2 or ...\nfor (var i = 6; i < (6 + msg_valueLength); i++) {\ndigitValue = '0123456789ABCDEFG'.indexOf(msg.payload[i]);\nif (digitValue !== -1)\n    {\n        \n        result = result * 16 + digitValue; \n    }\n\n}\n\n\nglobal.set(\"carData.PhyEMM_carData.engineRpm\" , result);\nmsg.topic = \"carData.PhyEMM_carData.EngineRPM\";\nmsg.payload = result.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":360,"wires":[["e5cfad14.f1fc38","630dab59.0bb784"]]},{"id":"15a801cc.edfb4e","type":"function","z":"34968b4a.b353c4","name":"","func":"var result = 0, digitValue = 0;\n//hex = msg.payload.toLowerCase();\nmsg_charLength = (msg.payload.length);//can be either 11 or 8\nmsg_valueLength = msg_charLength - 6; // can be either 5 or 2\nfor (var i = 6; i < (6 + msg_valueLength); i++) {\ndigitValue = '0123456789ABCDEFG'.indexOf(msg.payload[i]);\nif (digitValue !== -1)\n    {\n        \n        result = result * 16 + digitValue; \n    }\n\n}\n\n\nglobal.set(\"carData.PhyEMM_carData.massAirFlow\" , result);\nmsg.topic = \"carData.PhyEMM_carData.massAirFlow\";\nmsg.payload = result.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":400,"wires":[["df848f9d.08d998"]]},{"id":"e5cfad14.f1fc38","type":"debug","z":"34968b4a.b353c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":360,"wires":[]},{"id":"3882c221.57ad86","type":"debug","z":"34968b4a.b353c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":400,"wires":[]},{"id":"df848f9d.08d998","type":"function","z":"34968b4a.b353c4","name":"CO2_gps","func":"co2_gramspersec = global.get(\"carData.PhyEMM_carData.massAirFlow\") * 2310.0 / (14.7 * 737.0);\nglobal.set(\"carData.PhyEMM_carData.CO2gps\" ,co2_gramspersec);\nmsg.topic = \"carData.PhyEMM_carData.CO2gps\";\nmsg.payload =  co2_gramspersec.toFixed(4);\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":460,"wires":[["630dab59.0bb784"]]},{"id":"630dab59.0bb784","type":"join","z":"34968b4a.b353c4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":980,"y":280,"wires":[["3882c221.57ad86"]]},{"id":"12023063.a2de68","type":"function","z":"34968b4a.b353c4","name":"","func":"\n\nmsg.payload = msg.payload.substring(2, msg.payload.length - 1).replace(/\\s/g, '');;\nglobal.set(\"OBDII.deviceId\", msg.payload);\nmsg.topic = \"msg.payload\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":520,"wires":[["c46d8f6c.1c4b7"]]},{"id":"840b8f94.535258","type":"debug","z":"34968b4a.b353c4","name":"name","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":520,"wires":[]},{"id":"c46d8f6c.1c4b7","type":"join","z":"34968b4a.b353c4","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":600,"wires":[["840b8f94.535258"]]},{"id":"3c5d17212985f9ea","type":"nmea","z":"34968b4a.b353c4","name":"","property":"payload","outputProperty":"payload","x":350,"y":660,"wires":[["4f3ef1cdd4ed2709"]]},{"id":"86db3b125593d0bf","type":"debug","z":"34968b4a.b353c4","name":"name","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1070,"y":880,"wires":[]},{"id":"741136b133df6cc0","type":"serial in","z":"34968b4a.b353c4","name":"","serial":"75042ee19b17e802","x":160,"y":620,"wires":[["3c5d17212985f9ea","1137cb38.98d8a5"]]},{"id":"347bd92a32d1f632","type":"catch","z":"34968b4a.b353c4","name":"","scope":null,"uncaught":false,"x":170,"y":760,"wires":[["037e1e88adb8f879"]]},{"id":"4f3ef1cdd4ed2709","type":"switch","z":"34968b4a.b353c4","name":"switchNMEA","property":"payload.sentence","propertyType":"msg","rules":[{"t":"eq","v":"RMC","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":530,"y":660,"wires":[["d82e1bf434545da5","347c7677a6b2a3c4"]]},{"id":"d82e1bf434545da5","type":"function","z":"34968b4a.b353c4","name":"GPSData","func":"\nglobal.set(\"carData.PhyEMM_carData.validity\", msg.payload.status);\n\n\nglobal.set(\"carData.PhyEMM_carData.latitude\", msg.payload.lat );\n//global.set(\"latitudePole\", msg.payload.latPole);\nglobal.set(\"carData.PhyEMM_carData.longitude\", msg.payload.lon);\nglobal.set(\"carData.PhyEMM_carData.timestamp\", msg.payload.dateTime);\n\nglobal.set(\"carData.PhyEMM_carData.coordinates.coordinates[0]\", msg.payload.lat);\nglobal.set(\"carData.PhyEMM_carData.coordinates.coordinates[1]\", msg.payload.lon);\n//global.set(\"carData.phyEMM_carData.coordinates.type\" , \"Point\");\nglobal.set(\"carData.PhyEMM_carData.CO2gps\", Math.random()*15 + 40.0);\nmsg.payload = global.get(\"carData\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\n// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"carData.PhyEMMCarData.validity\", \"Invalid\");\nglobal.set(\"carData.PhyEMMCarData.latitude\", \"00.00N\");\nglobal.set(\"carData.PhyEMMCarData.longitude\", \"00.00W\");\nglobal.set(\"carData.PhyEMMCarData.altitude\", \"0.0m\");\nglobal.set(\"carData.PhyEMMCarData.timestamp\", \"23:59:59\");\nglobal.set(\"carData.PhyEMMCarData.timestamp\", Date(0));","libs":[],"x":820,"y":800,"wires":[["542c4a0a821f0cf3","6ccd37dcb42e4686","660a10c77ec35451"]]},{"id":"037e1e88adb8f879","type":"debug","z":"34968b4a.b353c4","name":"errors","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":820,"wires":[]},{"id":"5a3b6d043602e8ac","type":"json","z":"34968b4a.b353c4","name":"","property":"payload","action":"obj","pretty":false,"x":1290,"y":1100,"wires":[["e01de459.c8cc38","86db3b125593d0bf"]]},{"id":"e01de459.c8cc38","type":"mqtt out","z":"34968b4a.b353c4","name":"","topic":"business/TEAM_7/ENT/server","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2d284e.8a111fb2","x":1530,"y":1100,"wires":[]},{"id":"347c7677a6b2a3c4","type":"debug","z":"34968b4a.b353c4","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":680,"wires":[]},{"id":"542c4a0a821f0cf3","type":"function","z":"34968b4a.b353c4","name":"","func":"msg.payload = global.get(\"carData.PhyEMM_carData\");\nmsg.topic = \"carData\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":1100,"wires":[["5a3b6d043602e8ac"]]},{"id":"30c3887e68cfbf30","type":"http request","z":"34968b4a.b353c4","name":"apiwaqiHttpRequest","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1060,"y":1200,"wires":[["523c5fed19f63db2"]]},{"id":"813a081b034820a3","type":"function","z":"34968b4a.b353c4","name":"","func":"\ncurrentLatitude = global.get(\"carData.PhyEMM_carData.latitude\");\ncurrentLongitude = global.get(\"carData.PhyEMM_carData.longitude\");\nif ((currentLatitude !== 0) && (currentLongitude !== 0))\n{\n    apiRequest = \"/feed/geo:\";\n    apiRequest = apiRequest.concat(currentLatitude.toString());\n    apiRequest = apiRequest.concat(\";\");\n\n    apiRequest = apiRequest.concat(currentLongitude.toString());\n    apiRequest = apiRequest.concat(\"/?token=\", \"2ba349d39256100f5eb7d64de4790a72e2ef03c2\");\n    msg.payload = apiRequest;\n    msg.method = \"GET\";\n    msg.url = \"https://api.waqi.info\".concat(apiRequest);\n    return msg;\n} else return;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1180,"wires":[["30c3887e68cfbf30"]]},{"id":"7b3365a289413643","type":"debug","z":"34968b4a.b353c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":1200,"wires":[]},{"id":"6ccd37dcb42e4686","type":"rbe","z":"34968b4a.b353c4","name":"deadband_long","func":"deadbandEq","gap":"0.1","start":"","inout":"out","septopics":false,"property":"payload.PhyEMM_carData.longitude","topi":"topic","x":520,"y":1060,"wires":[["813a081b034820a3"]]},{"id":"660a10c77ec35451","type":"rbe","z":"34968b4a.b353c4","name":"deadband_lat","func":"deadbandEq","gap":"0.1","start":"","inout":"out","septopics":false,"property":"payload.PhyEMM_carData.latitude","topi":"topic","x":520,"y":1120,"wires":[["813a081b034820a3"]]},{"id":"bd9e8e4ff1e5759e","type":"inject","z":"34968b4a.b353c4","name":"","props":[],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":500,"y":1200,"wires":[["813a081b034820a3"]]},{"id":"523c5fed19f63db2","type":"function","z":"34968b4a.b353c4","name":"","func":"//global.set(\"carData.PhyEMM_carData.closestAirQualityIndex\", msg.payload.data.aqui);da\nglobal.set(\"carData.PhyEMM_carData.closestAQS.index\", msg.payload.data.aqi);\nglobal.set(\"carData.PhyEMM_carData.closestAQS.latitude\", msg.payload.data.city.geo[0]);\nglobal.set(\"carData.PhyEMM_carData.closestAQS.longitude\", msg.payload.data.city.geo[1]);\nglobal.set(\"carData.PhyEMM_carData.closestAQS.closestCity\", msg.payload.data.city.name);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1200,"wires":[["7b3365a289413643"]]},{"id":"10691388.943ea4","type":"serial-port","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\r","bin":"false","out":"char","addchar":"","responsetimeout":"2000"},{"id":"75042ee19b17e802","type":"serial-port","serialport":"COM7","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2d284e.8a111fb2","type":"mqtt-broker","name":"","broker":"iothub02.onesaitplatform.com","port":"8883","tls":"b456eae7.55291","clientid":"24A16053C1D9","usetls":true,"compatmode":false,"protocolVersion":"4","keepalive":"10","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b456eae7.55291","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"iccpc.crt","keyname":"iccpc.key","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""}]